.user-dash-board-page {
    width: 80vw;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}

.user-dash-board-page h1 {
    margin-bottom: 40px;
}

.user-dash-board-page hr {
    width: 90%;
    border: 1px solid var(--base-dark-hover2);
    margin: 20px 0;
}

.user-dash-title {
    width: 80vw;
    max-width: 700px;
}

.user-page-section-block p {
    margin: 25px 5px;
    align-self: flex-start;
}

.user-page-section-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-dash-board-page h2 {
    font-size: 30px;
}

.my-user-party-container {
    width: 80vw;
    height: 120px;
    max-width: 700px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-dark);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 6px var(--base-dark-hover);
    transition: 0.25s;
}

.my-user-party-container:hover {
    box-shadow: 0px 0px 0px var(--base-dark-hover);
    transform: translateY(1px);
}

.my-user-party-container h3 {
    font-size: 25px;
}

.user-page-party-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.user-page-btn-group {
    display: flex;
    flex-direction: column;
}

.user-dash-board-page .party-info-group {
    width: 240px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 65px;
}

.user-dash-board-page .party-info-group .party-clan-image,
.user-dash-board-page .party-info-group .party-platform-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dash-board-page .party-info-group .party-clan-image img,
.user-dash-board-page .party-info-group .party-platform-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.user-dash-board-page button.party-detail-remove-request-btn,
.user-dash-board-page .check-out-party-btn {
    height: 35px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s;
    color: whitesmoke;
    margin: 8px 15px;
    transition: 0.25s;
    font-size: 13px;
}

.user-dash-board-page button.party-detail-remove-request-btn {
    background-color: var(--danger-red);
    box-shadow: 0px 4px var(--danger-darkred);
}

.user-dash-board-page .check-out-party-btn {
    background-color: var(--main-purple);
    box-shadow: 0px 4px #312548;
}

.user-dash-board-page button.party-detail-remove-request-btn:hover {
    background-color: var(--danger-red-hover);
}

.user-dash-board-page .check-out-party-btn:hover {
    background-color: var(--main-purple-hover);
}

.user-dash-board-page button.party-detail-remove-request-btn:active {
    background-color: var(--danger-red-hover);
    box-shadow: 0 0px var(--danger-darkred);
    transform: translateY(4px);
}

.user-dash-board-page .check-out-party-btn:active {
    background-color: var(--main-purple-hover);
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

.user-dash-board-page .check-out-party-btn a {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------media query------------------ */

/* Extra extra large */
@media (max-width: 1400px) {

}

/* Extra large */
@media (max-width: 1200px) {

}

/* Large */
@media (max-width: 992px) {

}

/* Medium */
@media (max-width: 768px) {
    .my-user-party-container {
        width: 90vw;
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }
    .user-page-party-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .user-page-btn-group {
        display: flex;
        flex-direction: row;
    }
}

/* small */
@media (max-width: 576px) {

}
