.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-dark);
    width: 100vw;
    height: 50px;
}

div.top-brand-logo {
 margin-left: 20px;
}

div.top-brand-logo a{
    color: whitesmoke;
}

/* --------top search bar section--------*/
.top-search-bar {
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: var(--base-dark-hover);
}

.top-search-bar input {
    height: 100%;
    width: 100%;
    background-color: transparent;
}


/* --------top right user buttons section--------*/
.top-user-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    margin-right: 20px;
}

.top-user-section span{
    margin-right: 10px;
}

.top-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    margin: 10px 8px;
    border-radius: 5px;
}

.top-nav-login-btn {
    background-color: var(--base-dark-hover);
    transition: 0.25s;
}

.top-nav-login-btn:hover {
    background-color: var(--base-dark-hover2);
}

.top-nav-signup-btn {
    background-color: var(--main-purple);
    transition: 0.25s;
}

.top-nav-signup-btn:hover {
    background-color: var(--main-purple-hover);
}

.top-user-section div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.profile-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    transition: all 0.3s;
}

.profile-button:hover {
    background-color: var(--base-dark-hover2);
}

.profile-button i {
    font-size: 20px;
}

.user-drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--base-dark);
    position: fixed;
    right: 10px;
    top: 40px;
    width: 150px;
    /* height: 100px; */
    box-sizing: border-box;
    border: 1px solid var(--base-dark-hover);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.user-drop-down.user-drop-down-open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* box-shadow: 0px 0px 4px 2px #4f4e51; */
}

.user-drop-down div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    margin: 10px 0;
}

.user-drop-down div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.user-drop-down div:hover {
    background-color: var(--base-dark-hover);
}

.user-drop-down hr {
    width: 90%;
    margin: 10px 0;
    border: 1px solid darkgray;
}

.user-drop-down button{
    width: 90%;
    font-size: 15px;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.user-drop-down button:hover {
    background-color: var(--base-dark-hover);
}
