.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-dark);
    width: 100vw;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

div.top-brand-logo {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 40%;
}

.top-nav-favicon {
    height: 80%;
    margin-top: 5px;
}

.top-nav-logo {
    height: 80%;
    /* width: 100px; */
}

div.top-brand-logo a:hover {
    transform: translateY(1px);
}

/* --------top search bar section--------*/
.top-search-bar {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    border-radius: 5px;
    height: 30px;
    max-width: 400px;
    width: 40vw;
}

.top-search-bar input {
    background-color: var(--input-background);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.top-search-bar button {
    background-color: transparent;
    position: relative;
    right: 35px;
    /* width: 40px; */
    height: 100%;
    border: none;
    box-shadow: none;
    color: whitesmoke;
    padding: 0 10px;
}

.top-search-bar input::placeholder {
    color: whitesmoke;
    opacity: 0.8;
}

.top-search-bar input:focus {
    outline: none;
    background-color: black;
    border: 2px solid var(--main-purple-focus);
}

/* --------top right user buttons section--------*/
.top-user-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    margin-right: 20px;
}

.top-user-section span{
    margin-right: 10px;
    text-align: end;
    width: 200px;
}

.top-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    margin: 10px 8px;
    border-radius: 5px;
}

.top-nav-login-btn {
    background-color: var(--base-dark-hover);
    transition: 0.25s;
}

.top-nav-login-btn:hover {
    background-color: var(--base-dark-hover2);
}

.top-nav-signup-btn {
    background-color: var(--main-purple);
    transition: 0.25s;
}

.top-nav-signup-btn:hover {
    background-color: var(--main-purple-hover);
}

.top-user-section div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.profile-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    transition: all 0.3s;
}

.profile-button:hover {
    background-color: var(--base-dark-hover2);
}

.profile-button i {
    font-size: 20px;
}

.user-drop-down {
    display: hidden;
    flex-direction: column;
    align-items: center;
    background-color: var(--base-dark);
    position: fixed;
    right: 10px;
    top: 40px;
    width: 200px;
    /* height: 100px; */
    box-sizing: border-box;
    border: 1px solid var(--base-dark-hover);
    border-radius: 5px;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.user-drop-down.user-drop-down-open {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* box-shadow: 0px 0px 4px 2px #4f4e51; */
}

#dropdown-search-bar {
    display: none;
    background-color: var(--input-background);
    flex-direction: row;
    margin: 10px 0;
    border-radius: 5px;
}

#dropdown-search-bar input {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    width: 100%;
    height: 35px;
    padding: 0 15px;
}

#dropdown-search-bar input::placeholder {
    color: whitesmoke;
    opacity: 0.8;
}

#dropdown-search-bar input:focus {
    outline: none;
    background-color: black;
    border: 2px solid var(--main-purple-focus);
}

#user-dropdown-greeting {
    display: none;
    width: 90%;
    height: 30px;
    margin: 10px 0 0 0;
}

#user-dropdown-greeting:hover {
    background-color: var(--base-dark);
}

.user-drop-down hr {
    display: none;
    height: 1px;
    width: 80%;
    background-color: var(--base-dark-hover);
}

.user-drop-down div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    margin: 10px 0;
}

.user-drop-down div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.user-drop-down div:hover {
    background-color: var(--base-dark-hover);
}

.user-drop-down hr {
    width: 90%;
    margin: 10px 0;
    border: 1px solid darkgray;
}

.user-drop-down button{
    width: 90%;
    font-size: 15px;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.user-drop-down button:hover {
    background-color: var(--base-dark-hover);
}



/* ------------------media query------------------ */

/* small */
@media (max-width: 576px) {
    /* .top-nav-bar {
        background-color: thistle;
    } */

    .top-search-bar {
        display: none;
    }

    div.top-brand-logo {
        width: 50%;
    }

    .top-nav-btn {
        display: none;
    }

    .top-user-section span{
        display: none;
    }

    #dropdown-search-bar {
        display: flex;
    }

    .user-drop-down hr {
        display: inline-block;
    }

    #user-dropdown-greeting {
        display: flex;
    }
}

/* Medium */
@media (max-width: 768px) {
    .top-search-bar {
        display: none;
    }

}

/* Large */
@media (max-width: 992px) {

}

/* Extra large */
@media (max-width: 1200px) {

}

/* Extra extra large */
@media (max-width: 1400px) {

}
