.party-browser {
    width: 80vw;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
    margin: 30px 0;
}

.party-container {
    padding: 10px;
    width: 22%;
    height: 500px;
    background-color: var(--base-dark);
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.party-container .game-img-container {
    width: 100%;
    height: 160px;
    /* background-color: tomato; */
    overflow: hidden;
}

.party-container .party-game-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* object-position: center 60%; */
}

.party-container h3 {
    margin: 10px;
    font-size: 25px;
    text-align: center;
}

.party-container .party-description {
    margin: 10px;
    width: 95%;
    height: 55px;
}

.party-container .party-description p {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(lightgray, #212121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.party-container .party-info-group {
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 65px;

    /* background-color: lightpink; */
}

.home-page-vl {
    border-left: 1px solid darkgray;
    height: 55px;
    /* margin: 0 15px; */
}

.party-container .party-info-group .party-clan-image,
.party-container .party-info-group .party-platform-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.party-container .party-info-group .party-clan-image img,
.party-container .party-info-group .party-platform-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.party-container .check-out-party-btn {
    position: absolute;
    bottom: 10px;
    height: 35px;
    width: 90%;
    margin: 10px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s;
    background-color: var(--main-purple);
    box-shadow: 0 4px #312548;
}

.party-container .check-out-party-btn a {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.party-container .check-out-party-btn:hover {
    background-color: var(--main-purple-hover);

}

.party-container .check-out-party-btn:active {
    background-color: var(--main-purple-hover);
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

/* ------------------media query------------------ */

/* Extra extra large */
@media (max-width: 1400px) {

}

/* Extra large */
@media (max-width: 1200px) {
    .party-browser {
        width: 100vw;
    }
}

/* Large */
@media (max-width: 992px) {
    .party-container {
        width: 29%;
        margin: 10px;
    }
}

/* Medium */
@media (max-width: 768px) {
    .party-container {
        width: 45%;
        margin: 10px;
    }
    .party-container .party-info-group {
        width: 80%;
    }
}

/* small */
@media (max-width: 576px) {
    .party-container {
        width: 100%;
        margin: 10px;
    }
}
